<style>
/*
 *  Flex Layout Specifics
*/
main{
  display:flex;
  flex-direction:row;
}
.round{
  display:flex;
  flex-direction:column;
  justify-content:center;
  width:200px;
  list-style:none;
  padding:0;
}
  .round .spacer{ flex-grow:1; }
  .round .spacer:first-child,
  .round .spacer:last-child{ flex-grow:.5; }

  .round .game-spacer{
    flex-grow:1;
  }

/*
 *  General Styles
*/
body{
  font-family:sans-serif;
  font-size:small;
  padding:10px;
  line-height:1.4em;
}

li.game{
  padding-left:20px;
}

  li.game.winner{
    font-weight:bold;
  }
  li.game span{
    float:right;
    margin-right:5px;
  }

  li.game-top{ border-bottom:1px solid #aaa; }

  li.game-spacer{ 
    border-right:1px solid #aaa;
    min-height:40px;
  }

  li.game-bottom{ 
    border-top:1px solid #aaa;
  }


</style>

</br>
<h5>Championship Match</h5>
<main id="bracket">
	<ul class="round round-1">
		<li class="spacer">&nbsp;</li>
		
		<li class="game game-top ">Winner Pool 1<span>Score</span></li>
		<li class="game game-spacer">&nbsp;</li>
		<li class="game game-bottom ">Winner Pool 2<span>Score</span></li>

		<li class="spacer">&nbsp;</li>
	</ul>
	<ul class="round round-2">
		<li class="spacer">&nbsp;</li>
		
		<li class="game game-top "> <span></span></li>
		1st
		<li class="spacer">&nbsp;</li>
		
		
	</ul>

</main>

<h5>3rd/4th</h5>
<main id="bracket">
	<ul class="round round-1">
		<li class="spacer">&nbsp;</li>
		
		<li class="game game-top ">Runner Up Pool 1<span>Score</span></li>
		<li class="game game-spacer">&nbsp;</li>
		<li class="game game-bottom ">Runner Up Pool 2<span>Score</span></li>

		<li class="spacer">&nbsp;</li>
	</ul>
	<ul class="round round-2">
		<li class="spacer">&nbsp;</li>
		
		<li class="game game-top "> <span></span></li>
		3rd
		<li class="spacer">&nbsp;</li>
		
		
	</ul>

</main>

