<h2>About WrestlingDev</h2>
<br>
<p>WrestlingDev was created to help bring wrestling into the 21st century for <strong>free</strong>. This site is <a href="https://github.com/jcwimer/wrestlingApp">open source</a> and is supported by the ads on the sidebar.</p>
<br>
<h3>Features</h3>
<p>Wrestlingdev supports the following features:</p>
<ul>
  <li>Tournament Types
    <ul>
      <li>Pool to bracket (adhears to 5 match per day rule)</li>
      <li>Regular Double Elimination 16 man and 8 man. Options for placing 1st-6th or 1st-8th.</li>
      <li>Modified 16 Man Double Elimination 1-6. Options for placing 1st-6th or 1st-8th. Adhears to 5 match per day rule.</li>
    </ul>
  </li>
  <li>Team point calculation</li>
  <li>Bracket generation</li>
  <li>Bracket advancement</li>
  <li>Bout board</li>
  <li>Coach Information
    <ul>
      <li>Score breakdown per wrestler</li>
      <li>Next bout number for each wrestler</li>
      <li>Next mat assignment for each wrestler</li>
    </ul>
  </li>
</ul>
<br>
<h3>Pool to bracket information</h3>
<p>At this moment in time, WrestlingDev supports a pool to bracket type tournament for up to 24 wrestlers per weight. The bracket format follows OHSAA's 5 match per day rule. WrestlingDev will automatically generate brackets, generate bout numbers, generate and update a bout board, track team points, and update brackets.</p>
<h4>Pool tiebreakers</h4>
<ul>
    <li>Least team points deducted</li>
    <li>Head to head</li>
    <li>Most team points scored</li>
    <li>Most wins by fall, default, dq</li>
    <li>Most wins by tech fall</li>
    <li>Most wins by major</li>
    <li>Most points scored in decisions</li>
    <li>Total pin time accumulation</li>
    <li>Coin flip</li>
</ul>
<p>If three wrestlers are tied, they will be put through this sequence until two wrestlers are left. Once two wrestlers are left, the pool runner up will be decided by head to head.</p>
<h4>Pool to bracket scoring</h4>
<ul>
    <li>Pool win: 2pt</li>
    <li>Win in championship bracket: 2pt</li>
    <li>Win in consolation bracket: 1pt</li>
    <li>Win by major: 1pt extra</li>
    <li>Win by tech fall: 1.5pt extra</li>
    <li>Win by fall, default, dq: 2pt extra</li>
    <li>BYE points: 2pt (if you win at least 1 match in a pool with a BYE)</li>
</ul>
<p>See placement points below (based on the largest bracket of the tournament)</p>
<h4>Pool Types</h4>
<ul>
    <li>Single pool round robin - 2-6 wrestlers, place 1-4.</li>
    <li>Two Pools of 4 (3 matches each) to a semi final bracket - 7-8 wrestlers, place 1-4.</li>
    <li>Two Pools of 5 (4 matches each) to a championship and 3rd/4th match - 8-10 wrestlers, place 1-4.</li>
    <li>Four pools of 3 (2 matches each) to a quarter final bracket - 9-12 wrestlers, place 1-8.</li>
    <li>Four pools of 4 (3 matches each) to a semi final bracket - 13-16 wrestlers, place 1-8.</li>
    <li>Eight pools of 3 (2 matches each) to a quarter final bracket - 17-24 wrestlers, place 1-8.</li>
</ul>
<br>
<h3>Regular Double Elimination Information</h3>
<p>Right now, double elimination brackets only support 8 and 16 man brackets (4-16 wrestlers). Cross bracketing will happen every other round. 16 man in quarter finals, 8 man in semi finals.</p>
<p>Regular Double Elimination 1-6 places 1st through 6th. Regular Double Elimination 1-8 places 1st through 8th.</p>
<h4>Regular Double Elimination scoring</h4>
<ul>
  <li>Championship win: 2pt</li>
  <li>Consolation win: 1pt</li>
  <li>Win by major: 1pt extra</li>
  <li>Win by tech: 1.5pt extra</li>
  <li>Win by fall, default, dq, etc: 2pt extra</li>
  <li>BYE points: 2pts if you have a bye in the championship bracket and win the next match. 1pt if you have a bye in the consolation bracket and win the next match.</li>
</ul>
<br>
<h3>Modified 16 Man Double Elimination Information</h3>
<p>Adhears to 5 match per day rule. Allows a 16 man bracket without anyone wrestling more than 5 matches. Semi Final losers wrestle for 3rd. Anyone who loses before the Semi Finals wrestle a consolation bracket for 5th.</p>
<p>Modified 16 Man Double Elimination 1-6 places 1st through 6th. Modified 16 Man Double Elimination 1-8 places 1st through 8th.</p>
<h4>Modified 16 Man Double Elimination scoring (same as Regular Double Elimination)</h4>
<ul>
  <li>Championship win: 2pt</li>
  <li>Consolation win: 1pt</li>
  <li>Win by major: 1pt extra</li>
  <li>Win by tech: 1.5pt extra</li>
  <li>Win by fall, default, dq, etc: 2pt extra</li>
  <li>BYE points: 2pts if you have a bye in the championship bracket and win the next match. 1pt if you have a bye in the consolation bracket and win the next match.</li>
</ul>
<br>
<h3>Placement Points</h3>
<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Number of Places</th>
      <th>1st Place Points</th>
      <th>2nd Place Points</th>
      <th>3rd Place Points</th>
      <th>4th Place Points</th>
      <th>5th Place Points</th>
      <th>6th Place Points</th>
      <th>7th Place Points</th>
      <th>8th Place Points</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>1st-4th</td>
        <td>14</td>
        <td>10</td>
        <td>7</td>
        <td>4</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
     </tr>
     <tr>
        <td>1st-6th</td>
        <td>16</td>
        <td>12</td>
        <td>9</td>
        <td>7</td>
        <td>5</td>
        <td>3</td>
        <td></td>
        <td></td>
     </tr>
     <tr>
        <td>1st-8th</td>
        <td>16</td>
        <td>12</td>
        <td>9</td>
        <td>7</td>
        <td>5</td>
        <td>3</td>
        <td>2</td>
        <td>1</td>
     </tr>
  </tbody>
</table>
<p>Finals matches will only recieve extra placement points for placing higher and bonus points for pin, tech, major, etc. Please note, only brackets with four pools place up to 8. Brackets with 1 or 2 pools only place top 4.</p>
<br>
<h3>Future Plans</h3>
<br>
<p>Future development plans to support 32 and 64 man regulard double elimination, modified (5 per day match rule) 32 man double elimination, and true second double elimination brackets are underway.</p>
<br>
<h3>Contact</h3>
<br>
<p>Suggestions, criticism, and kind words are welcomed. Please contact us.</p>
