<h3>About WrestlingDev</h3>
<br>
<p>WrestlingDev was created to help bring wrestling into the 21st century for <strong>free</strong>. This site is <a href="https://github.com/jcwimer/wrestlingApp">open source</a> and is supported by the ads on the sidebar.</p>
<br>
<h4>Features</h4>
<br>
<p>At this moment in time, WrestlingDev supports a pool to bracket type tournament for up to 16 teams. The bracket format follows OHSAA's 5 match per day rule. WrestlingDev will automatically generate brackets, generate bout numbers, generate and update a bout board, track team points, and update brackets.</p>
<p>For pool to bracket tournaments, pool tie breakers are the following:</p>
<ul>
    <li>Least team points deducted</li>
    <li>Head to head</li>
    <li>Most team points scored</li>
    <li>Most wins by fall, default, dq</li>
    <li>Most wins by tech fall</li>
    <li>Most wins by major</li>
    <li>Most points scored in decisions</li>
    <li>Quickest pin</li>
    <li>Coin flip</li>
</ul>
<p>If three wrestlers are tied, they will be put through this sequence until two wrestlers are left. Once two wrestlers are left, the pool runner up will be decided by head to head.</p>
<p>For pool to bracket tournaments, team points will be calculated as follows:</p>
<ul>
    <li>Pool win: 2pt</li>
    <li>Win in championship bracket: 2pt</li>
    <li>Win in consolation bracket: 1pt</li>
    <li>Win by major: 1pt extra</li>
    <li>Win by tech fall: 1.5pt extra</li>
    <li>Win by fall, default, dq: 2pt extra</li>
    <li>1st place: 16pt</li>
    <li>2nd place: 12pt</li>
    <li>3rd place: 10pt</li>
    <li>4th place: 9pt</li>
    <li>5th place: 7pt</li>
    <li>6th place: 6pt</li>
    <li>7th place: 4pt</li>
    <li>8th place: 3pt</li>
</ul>
<p>Finals matches will only recieve extra placement points for placing higher and bonus points for pin, tech, major, etc. Please note, only brackets with four pools place up to 8. Brackets with 1 or 2 pools only place top 4.</p>
<br>
<h4>Future Plans</h4>
<br>
<p>Future development plans to support normal double elimination brackets are underway and are planned to be finished in time for the 2016-2017 wrestling season.</p>
<br>
<h4>Contact</h4>
<br>
<p>Suggestions, criticism, and kind words are welcomed. Please contact us.</p>