<div class="center hero-unit">
<h1>Welcome to WrestlingDev</h1>
<br>
<p>This website was created to help wrestling coaches run their tournaments. It is 2015, why are we still running bout sheets to tables and why are we still using resources to push cards on a bout board? This website was created as a <strong>free</strong> way for coaches to run a tournament smoothly with as few workers as possible.</p>
<br>
<p>If you would like to run a tournament, please click log in and then click sign up.</p>
<br>
<%= link_to "Browse Tournaments", '/tournaments', class: "btn btn-large btn-primary" %>
<p></p>
</div>
