       
        <a href="/tournaments" class="btn btn-default">Back to browse tournaments</a>                  
        <h1>
          {{ tournament.name }}
        </h1>
        <h1>{{ wrestler.matches(tournament.matches,tournament.weights[0].wrestlers[0]) }}</h1>
        <p>
          <strong>Address:</strong>
          {{ tournament.address }}
        </p>
        <p>
          <strong>Director:</strong>
          {{ tournament.director }}
        </p>
        <p>
          <strong>Director email:</strong>
          {{ tournament.director_email }}
        </p>
        <p>
          <strong>Tournament Type:</strong>
          {{ tournament.tournament_type }}
        </p>
        <br>
        <div class="panel panel-default">
              <a class="panel-heading" data-toggle="collapse" href="#Schools" aria-expanded="false" style="display: block;">
                <h3 class="panel-title">School Lineups and Team Scores<span class="pull-left clickable"><i class="glyphicon glyphicon-chevron-down"></i></span></h3>
              </a>
              <div id="Schools" class="panel-collapse collapse">
                  <div class="panel-body">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Score</th>
                        </tr>
                      </thead>
                    
                    
                      <tbody>
                          <tr ng-repeat="school in tournament.schools | orderBy : 'score'">
                            <td>{{ school.name }}</td>
                            <td>{{ school.score }}</td>
                          </tr>
                       </tbody>
                      </table>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
              <a class="panel-heading" data-toggle="collapse" href="#Weights" aria-expanded="false" style="display: block;">
                <h3 class="panel-title">Weights and Seeds<span class="pull-left clickable"><i class="glyphicon glyphicon-chevron-down"></i></span></h3>
              </a>
              <div id="Weights" class="panel-collapse collapse">
                  <div class="panel-body">
                    <p>Click weight class for seeds</p>
                    <br>
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Weight Class</th>
                          <th>Bracket Size</th>
                        </tr>
                      </thead>
                    
                      <tbody>
                          <tr ng-repeat="weight in tournament.weights | orderBy : 'max' : reverse">
                            <td><a data-toggle="modal" data-target="#Weight{{weight.id}}">{{ weight.max }}</a></td>
                            <td>{{ weight.bracket_size }}</td>
                          </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
        
          <div class="panel panel-default">
              <a class="panel-heading" data-toggle="collapse" href="#Mats" aria-expanded="false" style="display: block;" >
                <h3 class="panel-title">Mats and Bout Board<span class="pull-left clickable"><i class="glyphicon glyphicon-chevron-down"></i></span></h3>
              </a>
              <div id="Mats" class="panel-collapse collapse">
                  <div class="panel-body">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>On Mat</th>
                            <th>On Deck</th>
                            <th>In The Hole</th>
                            <th>Warm Up</th>
                          </tr>
                        </thead>
                      
                        <tbody>
                            <tr ng-repeat="mat in tournament.mats">
                              <td>{{ mat.name }}</td>
                              <td>{{ mat.unfinishedMatches[0].bout_number }} {{ mat.unfinishedMatches[0].w1_name }} vs. {{ mat.unfinishedMatches[0].w2_name }}</td>
                              <td>{{ mat.unfinishedMatches[1].bout_number }} {{ mat.unfinishedMatches[0].w1_name }} vs. {{ mat.unfinishedMatches[0].w2_name }}</td>
                              <td>{{ mat.unfinishedMatches[2].bout_number }} {{ mat.unfinishedMatches[0].w1_name }} vs. {{ mat.unfinishedMatches[0].w2_name }}</td>
                              <td>{{ mat.unfinishedMatches[3].bout_number }} {{ mat.unfinishedMatches[0].w1_name }} vs. {{ mat.unfinishedMatches[0].w2_name }}</td>
                            </tr>
                        </tbody>
                      </table>
                      <br>
                      <h3>Matches not assigned</h3>
                      <br>
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Round</th>
                            <th>Bout Number</th>
                            <th>Weight Class</th>
                            <th>Matchup</th>
                          </tr>
                        </thead>
                      
                        <tbody>
                            <tr ng-repeat="match in tournament.unassignedMatches">
                              <td>Round {{ match.round }}</td>
                              <td>{{ match.bout_number }}</td>
                              <td>{{ match.weightClass }}</td>
                              <td>{{ match.w1_name }} vs. {{ match.w2_name }}</td>
                            </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
        
    <!--Hidden modals-->
    <div ng-repeat="weight in tournament.weights">
      <div class="modal fade bs-example-modal-lg" id="Weight{{weight.id}}" tabindex="-1" role="dialog" aria-labelledby="Weight{{weight.id}}">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="gridSystemModalLabel">{{weight.max}}</h3>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                              <th>Name</th>
                              <th>School</th>
                              <th>Seed</th>
                              <th>Record</th>
                              <th>Criteria</th>
                              <th>Extra?</th>  
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="wrestler in weight.wrestlers | orderBy : 'original_seed' : reverse">
                               <td>{{wrestler.name}}</td> 
                               <td>{{wrestler.school}}</td>
                               <td>{{wrestler.original_seed}}</td>
                               <td>{{wrestler.season_win}}-{{wrestler.season_loss}}</td>
                               <td>{{wrestler.criteria}} Win %{{wrestler.seasonWinPercentage}}</td>
                               <td>{{wrestler.extra}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
          </div>
        </div>      
    </div>




