                              <h2>Upcoming Tournaments</h2>
                              <br>
                              <form ng-submit="searchTournaments()">
                                <div class="input-group">
                                  <input type="text" class="form-control" placeholder="Search by name or date YYYY-MM-DD" ng-model="searchTerms">
                                  <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit" id="submit">Search</button>
                                  </span>
                                </div>
                              </form>
                              <br>
                              <table class="table">
                                <thead class="font-spot-color">
                                  <tr>
                                    <th>Name</th>
                                    <th>Date</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr ng-repeat="tournament in allTournaments">
                                      <td><a ng-href="/tournaments/{{tournament.id}}">{{ tournament.name }}</a></td>
                                      <td>{{ tournament.date }}</td>
                                  </tr>
                                </tbody>
                              </table>
