<h5>Results</h5>
<br>
<ol>
  <li><%= @weight.poolOrder(1).first.name %></li>
  <li><%= @weight.poolOrder(1).second.name %></li>
  <li><%= @weight.poolOrder(1).third.name %></li>
  <li><%= @weight.poolOrder(1).fourth.name %></li>
</ol>  