<h5>Results</h5>
<br>
<ol>
  <li><%= @weight.pool_placement_order(1).first.name %></li>
  <li><%= @weight.pool_placement_order(1).second.name %></li>
  <li><%= @weight.pool_placement_order(1).third.name %></li>
  <li><%= @weight.pool_placement_order(1).fourth.name %></li>
</ol>  