
<% cache ["#{@tournament.id}_team_scores", @tournament] do %>  
  
  <table class="pagebreak table table-striped table-bordered">
  <h3>Team Scores</h3>
    <thead>
      <tr>
        <th>Name</th>
        <th>Score</th>
      </tr>
    </thead>
  
    <tbody>
      <% @schools.each do |school| %>
        <tr>
          <td><%= @schools.index(school) + 1 %>. <%= school.name %> (<%= school.abbreviation %>)</td>
          <td><%= school.page_score_string %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>