<div data-controller="up-matches-connection">
  <% if params[:print] != "true" %>
    <div style="margin-bottom: 10px;">
      <%= link_to "Show Bout Board in Full Screen", up_matches_path(@tournament, print: true), class: "btn btn-primary" %>
    </div>
  <% end %>

  <%= turbo_stream_from @tournament, data: { up_matches_connection_target: "stream" } %>
  <div
    id="up-matches-cable-status-indicator"
    data-up-matches-connection-target="statusIndicator"
    class="alert alert-secondary"
    style="padding: 5px; margin-bottom: 10px; border-radius: 4px;"
  >
    Connecting to server for real-time up matches updates...
  </div>

  <%= render "up_matches_board", tournament: @tournament, mats: @mats, matches: @matches %>
</div>
