# Generate these with: rake secret
export DEVISE_SECRET_KEY=
export RAILS_SECRET_KEY=

# Passwords
export GMAIL_PASSWORD=
export MYSQL_PASSWORD=
export MISSION_CONTROL_PASSWORD=""
export GRAFANA_ADMIN_USER=admin
export GRAFANA_ADMIN_PASSWORD=your-password
# Generate with: htpasswd -nbB admin 'your-password-here'
# install htpasswd with: sudo apt install apache2-utils
# use single quotes in case theres a dollar sign in the string
export JAEGER_BASIC_AUTH_USERS='admin:$apr1$...'

# Traefik URLS
export GRAFANA_HOST=grafana.wrestlingdev.com
export JAEGER_HOST=jaeger.wrestlingdev.com
