<h1>New weight</h1>
<br>
<br>
<p>Create weights from the bottom up. For example, start with 106 lbs and create the weight classes through to 285 lbs. This will allow the program to run the tournament starting with the lowest weight each round.</p>
<%= render 'form' %>

<%= link_to 'Back', weights_path %>
