<% back_to_school_path = school_path(@school) %>
<% back_to_school_path += "?school_permission_key=#{params[:school_permission_key]}" if params[:school_permission_key].present? %>

<%= link_to "Back to #{@school.name}", back_to_school_path, class: "btn btn-default" %>
<br>
<br>
<h1>Editing wrestler</h1>

<%= render 'form' %>

