<%= link_to "Back to #{@match.tournament.name} matches", "/tournaments/#{@match.tournament.id}/matches", :class=>"btn btn-default" %>
<br>
<br>
<h1><%= @w1.name %> VS. <%= @w2.name %></h1>

<%= render 'form' %>
