  <strong>Mat <%= @mat.name %></strong>
</p>

<p>
  <strong>Tournament:</strong>
  <%= @mat.tournament.name %>
</p>
<% @redirect_path = request.original_fullpath %>
<% if @match %>
<%= render 'matches/form' %>
<% else %>
<p>No matches assigned to this mat.</p>
<% end %>

