<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mat.name %>
</p>

<p>
  <strong>Tournament:</strong>
  <%= @mat.tournament_id %>
</p>

<%= link_to 'Edit', edit_mat_path(@mat) %> |
