<footer class="footer">
  <br>
  <small>
    App made by Jacob Cody Wimer - jacob.wimer@gmail.com
  </small>
  <br>
  <small>
    &copy; 2015 wrestlingdev.com
  </small>
  
</footer>
<% if Rails.env.production? %>
    <div class="ad">
        <script type='text/javascript' src='//eclkmpbn.com/adServe/banners?tid=85597_138467_7&type=footer&size=728x90'></script>
    </div>
<% end %>